{% extends "base.html" %}

{% block title -%}
  Keywords
{%- endblock title %}

{% block long_title -%}
  Keywords
{%- endblock long_title %}

{% block body %}
  <h1>Keywords</h1>

  <p>Browse articles by topic:</p>

  <div class="keywords-list">
    {% for term in terms -%}
      {% set display_name = config.extra.keyword_display[term.name] | default(value=term.name | capitalize) %}
      <a href="/keywords/{{ term.name | slugify }}/" class="keyword-pill">{{ display_name }}</a>
    {% endfor %}
  </div>
{% endblock %}
