{% import "macros/article.html" as article %}

{% extends "base.html" %}

{% block title -%}
  {{ term.name | upper }} — Keywords
{%- endblock title %}

{% block long_title -%}
  {{ term.name | upper }} — Keywords
{%- endblock long_title %}

{% block body %}
  <h1>{{ term.name | upper }}</h1>

  <p>Not the keyword you're looking for? <a href="{{ get_url(path = "/keywords") }}"">See all keywords</a>.</p>

  <div role="list">
  {% for page in term.pages  -%}
    <div role="listitem" class="article-poster">
      {{- article::poster(page = page) -}}
    </div>
  {% endfor %}
  </div>
{% endblock %}
