{% import "macros/article.html" as article %}
{% import "macros/newsletter.html" as newsletter %}

{% extends "base.html" %}

{% block title -%}
  {{ page.title }}
{%- endblock title %}

{% block long_title -%}
  {{ page.title }}
{%- endblock long_title %}

{% block body %}
  <article class="article" typeof="Article">
    <header>
      {% if page.extra.header_image %}
      <figure class="article-header-image">
        <img src="{{ page.extra.header_image }}" alt="{{ page.extra.header_image_alt | default(value='') }}" loading="lazy" />
        {% if page.extra.header_image_caption %}
        <figcaption>{{ page.extra.header_image_caption | safe }}</figcaption>
        {% endif %}
      </figure>
      {% endif %}

      <h1 property="name">{{ page.title | markdown(inline = true) | safe }}</h1>

      {{ article::metadata(page = page, full = true) }}
    </header>

    {% if page.extra.entry_point %}
    <p class="entry-point"><em>{{ page.extra.entry_point }}</em></p>
    {% endif %}

    {{ article::table_of_content(page = page) }}

    {{ page.content | safe }}

    {{ newsletter::form() }}
  </article>
{% endblock body %}
