{% import "macros/article.html" as article %}
{% import "macros/series.html" as series %}

{% extends "base.html" %}

{% block title -%}
  federicocarrone.com
{%- endblock title %}

{% block long_title -%}
  federicocarrone.com
{%- endblock long_title %}

{% block body %}
<p>I am Federico Carrone, an entrepreneur working at the intersection of technology, finance, and culture. I created <a href="https://ergodicgroup.com">Ergodic Group</a>, a privately held holding company through which I build and hold companies in distributed systems, cryptography, AI, gaming, and real assets. I operate with the conviction that digital infrastructure, capital markets, and cultural production are converging into a single strategic domain, and I focus on long horizon structures where time acts as a filter for quality, judgment, and durability rather than a constraint.</p>

  <section typeof="ItemList">
    <h1 property="name">Latest series</h1>

    <div role="list">
    {% set section = get_section(path = "series/_index.md") -%}
    {% for section_path in section.subsections | reverse | slice(end = 5) -%}
      <div role="listitem" class="series-poster" property="itemListElement" typeof="CreativeWorkSeries">
        {{- series::poster(section = get_section(path = section_path)) -}}
      </div>
    {% endfor %}
    </div>
  </section>

  <section vocab="https://schema.org" typeof="ItemList">
    <h1 property="name">Pinned articles</h1>

    <div role="list">
    {% set section = get_section(path = "articles/_index.md") -%}
    {% for page in section.pages | filter(attribute = "extra.pinned", value = true) -%}
      <div role="listitem" class="article-poster" property="itemListElement" typeof="Article">
        {{- article::poster(page = page) -}}
      </div>
    {% endfor %}
    </div>
  </section>
{% endblock body %}
