{% extends "base.html" %}

{% block title -%}
  Talks — federicocarrone.com
{%- endblock title %}

{% block long_title -%}
  Talks — federicocarrone.com
{%- endblock long_title %}

{% block body %}
<article class="talks">
  <header>
    <h1>Talks</h1>
    <p>Talks and podcasts I've participated in.</p>
  </header>

  <div class="talks-gallery">
  {% for page in section.pages %}
    <div class="talks-item">
      <a href="https://youtube.com/watch?v={{ page.extra.youtube_id }}"><img src="/images/talks/{{ page.extra.thumbnail }}" alt="{{ page.title }}"></a>
      <div class="content">
        <a class="title" href="https://youtube.com/watch?v={{ page.extra.youtube_id }}">{{ page.title }}</a>
        <span class="date">{{ page.date | date(format = "%b %Y") }}{% if page.extra.event %} · {{ page.extra.event }}{% endif %}</span>
      </div>
    </div>
  {% endfor %}
  </div>
</article>
{% endblock body %}
